@import "./variables";
.Rose-parent {
    width: 60rem;
    height: 40rem
}
.Rose-gallery {
    margin: 3rem
    position: relative
}
.Rose-photo {
    position: absolute;
    height: 20rem;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.4);
     outline-offset: 1rem;
    transition: all 0.3s;
}
.Rose-photo:hover{
    transform: scale(1.3);
    box-shadow: 0.3rem 1rem rgba(0, 0, 0, 0.4);
    outline: 1rem solid color(Blue);
    z-index: 2;
}
.Rose-gallery:hover .Rose-photo:not(:hover) {
    transform: scale(0.8);
    opacity: 0.3;
}
.Rose-1 {
    top: 10rem;
    left: 15%;
}
.Rose-2 {
    top: 2rem;
    right: 0;
}
.Rose-3 {
    top: -2rem;
    left: 0;
}